@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removed the Exo 2 import since it's handled in Next.js */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #03070A;
  --foreground: #FFFFFF;
  --accent: #FF8A00;
}

body {
  color: #c2c2c2;
  background: var(--background);
  font-family: "Poppins", sans-serif;
  /* Default font for the entire site */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Exo 2 will be applied dynamically via className */
  color: var(--accent);
  /* background: var(--background); */
}

p {
  color: #c2c2c2;
}

.fade-gradient {
  background: #070E13;
  border: 2px solid transparent;
  /* Transparent border to show the gradient */
  background-image: linear-gradient(#070E13, #070E13),
    /* Solid button background */
    linear-gradient(180deg, #1C1C1C, #FF8A00);
  /* Gradient border */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  /* Clip the background and border separately */
  /* display: inline-block; */
  transition: ease-out 0.3s;
  /* margin: 0 2px */
}

.fade-gradient-no-hover {
  background: #070E13;
  border: 2px solid transparent;
  /* Transparent border to show the gradient */
  background-image: linear-gradient(#070E13, #070E13),
    /* Solid button background */
    linear-gradient(180deg, #1C1C1C, #FF8A00);
  /* Gradient border */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  /* Clip the background and border separately */
  /* display: inline-block; */
  transition: ease-out 0.3s;
  /* margin: 0 2px */
}

.custom-radio {
  @apply appearance-none w-5 h-5 border-2 border-[#c2c2c2] rounded-full cursor-pointer;
}

.custom-radio:checked {
  @apply border-[#FF8A00];
}

.custom-radio:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #FF8A00;
  /* Orange color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .custom-radio {
  @apply w-5 h-5 border-2 border-white rounded-full relative bg-transparent focus:outline-none;
}

.custom-radio:checked {
  @apply border-[#FF8A00];
}

.custom-radio:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #FF8A00; /* Orange color for inner circle */
/* border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.custom-dash-spacing {
  position: relative;
  /* padding: 20px; */
  border-radius: 20px;
}

.custom-dash-spacing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px dashed #6b7280;
  /* Adjust thickness and color as needed */
  border-radius: 20px;
  /* Same as the original div border-radius */
  pointer-events: none;
  border-spacing: 40px;
  /* Allows the content inside to be interactable */
  /* z-index: -1; */
}

@media screen and (max-width: 640px) {
  .slick-dots {
    position: relative !important;
    bottom: 0px !important;
  }
}

.slick-dots li button:before {
  color: #FF8A00 !important;
}

/* .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #FF8A00;
} */


tr,
td {
  height: 100%;
}

.fade-gradient:hover {
  background-image: linear-gradient(180deg, #FF8A00, #FF8A00A3);
  transform: scale(1.05);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Autofill background color fix */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #0C1922 inset !important;
  /* Replace with your custom background color */
  -webkit-text-fill-color: white !important;
  /* Set text color to white */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #0C1922 inset !important;
  /* -webkit-text-fill-color: white !important; */
}

input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0C1922 inset !important;
  /* -webkit-text-fill-color: white !important; */
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px #0C1922 inset !important;
  /* -webkit-text-fill-color: white !important; */
}

/* For Firefox */
input:-moz-autofill {
  background-color: #0C1922 !important;
  /* color: white !important; */
}

/* For Internet Explorer */
input:-ms-autofill {
  background-color: #0C1922 !important;
  /* color: white !important; */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}


.scrollbar {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #15364d transparent;
  /* For Firefox */
  /* transform: translateX(7px); */
}

/* Scrollbar for Webkit Browsers */
.scrollbar::-webkit-scrollbar {
  height: 8px;
  background-color: #222;
  /* Scrollbar Track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar Thumb */
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Thumb Hover Effect */
}


.draggable-row {
  cursor: grab;
}

.draggable-row:active {
  cursor: grabbing;
}

.no-scroll {
  overflow: hidden;
}

.pitch-view {
  background-image: url('../public/images/pitch.png');
  background-size: cover;
  background-position: top;
  position: relative;
  /* Additional styles */
}

.pitch-view::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0); */
  /* Adjust opacity as needed */
  z-index: -1;
}

.ribbon-2 {
  --f: 15px;
  /* control the folded part*/
  --r: 50px;
  /* control the ribbon shape */
  --t: 60px;
  /* the top offset */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: var(--f) 100px 30px calc(100px + var(--r));
  clip-path:
    polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #1D374A;
  /* box-shadow: 0 calc(-1*var(--f)) 0 #0005; */
}

@media screen and (max-width: 640px) {
  .ribbon-2 {
    inset: calc(var(--t) + 0px) calc(-1*var(--f)) auto auto;
    padding: calc(var(--f) + 0px) 30px 30px calc(30px + var(--r));
    clip-path:
      polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
  }

}